<!-- ESTE INDEX ANTES ERA HTML-->
<!DOCTYPE html>
<html lang="es">

<!-- se llevo el head y se pone lo siguiente -->  
<%- include('./partials/head') %>

<body class="home">
<!-- se llevo el header y se pone lo siguiente -->
    <%- include('./partials/header') %>
    
    <main>
        <section class="productos">
            <a href="/products/detail">
                <article>
                    <img src="/images/img-phone-01.jpg" alt="telefono movil">
                    <h4>Nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ullam nam quas expedita cum voluptas inventore labore necessitatibus quaerat aspernatur?</p>
                    <a href="">ver mas</a>
                </article>

            </a>
            
            <article>
                <img src="/images/img-phone-02.jpg" alt="telefono movil">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ullam nam quas expedita cum voluptas inventore labore necessitatibus quaerat aspernatur?</p>
                <a href="">ver mas</a>
            </article>
            <article>
                <img src="/images/img-phone-03.jpg" alt="telefono movil">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ullam nam quas expedita cum voluptas inventore labore necessitatibus quaerat aspernatur?</p>
                <a href="">ver mas</a>
            </article>
            <article>
                <img src="/images/img-phone-01.jpg" alt="telefono movil">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ullam nam quas expedita cum voluptas inventore labore necessitatibus quaerat aspernatur?</p>
                <a href="">ver mas</a>
            </article>
            <article>
                <img src="/images/img-phone-01.jpg" alt="telefono movil">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ullam nam quas expedita cum voluptas inventore labore necessitatibus quaerat aspernatur?</p>
                <a href="">ver mas</a>
            </article>
            <article>
                <img src="/images/img-phone-01.jpg" alt="telefono movil">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ullam nam quas expedita cum voluptas inventore labore necessitatibus quaerat aspernatur?</p>
                <a href="">ver mas</a>
            </article>
        </section>
        <aside>
            <section class="tutoriales">
                <h3>Tutoriales</h3>
                <article>
                    <img src="/images/aside-01.jpg" alt="imagen tutorial">
                    <p>Titulo del tutorial de reparacion.</p>
                </article>
                <article>
                    <img src="/images/aside-02.jpg" alt="imagen tutorial">
                    <p>Titulo del tutorial de reparacion.</p>
                </article>
                <article>
                    <img src="/images/aside-03.jpg" alt="imagen tutorial">
                    <p>Titulo del tutorial de reparacion.</p>
                </article>
                <article>
                    <img src="/images/aside-04.jpg" alt="imagen tutorial">
                    <p>Titulo del tutorial de reparacion.</p>
                </article>
            </section>
            <section class="box-publicidad">
                <h3>Publicidad</h3>
                <article class="publicidad">                 
                  <img src="/images/ad-01.jpg" alt="imagen publicitaria">
                  <img src="/images/ad-02.jpg" alt="imagen publicitaria">
                </article>
            </section>
        </aside>
    </main>
</body>
</html>