<!-- ANTES  LOGIN.HTML -->
<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head',{title: 'Login de usuario'}) %>

<body class="login">
    <%- include('./partials/header') %>
    
    <main>
        <div class="formulario">
            <h2>BIENVENIDO</h2>
            <form action="" method="POST">
                <div class="box-for">
                    <label for="email">Email</label>
                    <input type="email" placeholder="Email" id="email">
                </div>
                <div class="box-form">
                    <label for="pass">Contraseña</label>
                    <input type="password" placeholder="password"  id="pass">
                </div>
                <div class="box-check">
                    <input type="checkbox" id="remember" name="remember">
                    <label for="remember">Recordarme</label>
                </div>
                <div class="box-error">
                    <span>La combinacion ingresada de email y contraseña no es valida</span>
                </div>
                <button type="submit">Ingresar</button>

            </form>
        </div>

    </main>
</body>
</html>