.register .formulario span.error{
    color: tomato;
    font-size: 12px;
    margin-top: 5px;
}
input, select{
    padding: 5px;
    margin: 5px 0;
}
.box-radio{
    display: flex;
}
.box-radio1 label{
    font-size: 13px;
    margin: 0 1px;
}
.box-check2 label{
    font-size: 13px;
}
h4{
    margin: 15px 0;
}
.boton-input{
    margin-right: 10px;
    margin: 10px 0;
}


.btn-button{
    justify-content: space-around;
    background-color: #3c8bbc;
    color: #ffff;
    border-radius:  5px;
    font-size: 16px;
    border: #3c8bbc solid;
    width: 150px;
    padding: 5px;
    margin: 10px 0;
}
